/****** General ***********/
* {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
}

:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
}

.fa-solid {
  color: var(--main-color);
}
.no-break {
  white-space: nowrap;
}
body {
  display: flex;
  justify-content: center;
  margin: 0;
}

.main-container {
  width: 100%;
  max-width: 1440px;
  padding: 0 50px;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}
li {
  list-style: none;
  margin: 0;
}
ul {
  margin: 0;
  padding-inline-start: 0;
}
h3 {
  margin: 0;
}
.section-title {
  margin: 0;
  font-size: 22px;
}

.card {
  background-color: white;
  border-radius: 20px;
  /* border: solid 5px white; */
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
  object-fit: cover;
}

.card-title {
  font-size: 16px;
  font-weight: 700;
}

.euro {
  font-weight: 700;
}

.neutral-star {
  color: var(--main-bg-color);
}
/****** Header and Search section *******/

/****** Nav bar*******/
header {
  display: flex;
  justify-content: space-between;
}

.header-logo img {
  max-width: 120px;
  /* width: 100%; */
  align-items: center;
  padding: 1rem 0;
}

.header-menu {
  display: flex;
  align-items: flex-start;
}
.header-menu a {
  margin-left: 3rem;
  font-size: 1rem;
  border-top: white solid 2px;
  padding-top: 15px;
}
.header-menu a:hover {
  color: var(--main-color);
  border-top: #0065fc solid 2px;
}

/****** Search section ***********/
.search-title p {
  margin-top: 0;
  font-weight: 400;
}
.search-title h1 {
  margin-bottom: 0.5rem;
  font-weight: 700;
}
.search-container {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  max-width: 100%;
}
/****** Search button***********/
.search-form {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  width: 100%;
}
.search-city {
  display: flex;
  /* padding: 10px; */
  margin-top: 2rem;
}

.search-city i {
  background-color: #f2f2f2;
  padding: 1rem 1.2rem;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border: #f2f2f2 solid 2px;
}

.search-city input[type="text"] {
  padding: 1rem 1.2rem;
  border: #f2f2f2 solid 2px;
  border-right: 0;
  border-left: 0;
  /* border-radius: 5px; */
  width: 20%;
  font-weight: 700;
  font-size: 1rem;
}
.search-city input[type="text"]::placeholder {
  color: black;
}

.search-city button {
  padding: 1rem 1.2rem;
  background-color: var(--main-color);
  color: white;
  border: none;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
}
/****** Filters section***********/

.filters-container {
  display: flex;
  max-width: 100%;
  flex-direction: row;
  align-items: center;
  margin: 2rem 0 1rem;
}
.filters-selection {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 100%;
}
.filters-container h2 {
  font-size: 16px;
  font-weight: 700;
}
.filters-button {
  display: inline-block;
  margin-left: 0.8rem;
  max-width: 100%;
  border-radius: 25px;
  padding: 1rem 1.2rem;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  background-color: white;
  border: solid 2px #d9d9d9;
}
.filters-button:hover {
  background-color: rgba(0, 101, 252, 0.3);
}
.filters-button i {
  color: var(--main-color);
  margin-right: 0.6rem;
}
/****** Search results***********/
.info-results {
  display: flex;
  align-items: center;
  margin-top: 0;
}
.info-results .circle {
  margin-right: 0.5rem;
  width: 1.5rem;
  height: 1.5rem;
  background-color: white;
  border-radius: 50%;
  border: #d9d9d9 solid 1px;
  display: flex;
  align-items: center;
  justify-content: center;
}
/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.9rem;
}

.hebergements-and-populaires section {
  background-color: var(--main-bg-color);
  border-radius: 20px;
  padding: 1.9rem;
  box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
  width: 65%;
  display: flex;
  flex-direction: column;
}
.hebergements-title {
  margin: 0;
}

.hebergements-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hebergements-row {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 1.5rem;
}
.hebergements-row a {
  width: calc(33% - 20px);
  transition-duration: 0.1s;
  display: flex;
}
.hebergements-row .card {
  display: flex;
  margin-top: 31px;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
}

.hebergements-row img {
  width: 100%;
  min-height: 124px;
  height: 124px;
  max-height: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.hebergements-row .card-content {
  width: 100%;
  height: 100%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.hebergements-row .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.hebergements-row .card-subtitle {
  margin: 0;
}
.hebergements-row .card-txt {
  margin-bottom: 5px;
}
.hebergements-row .card-rating {
}

.afficher-plus h3 {
  margin: 0;
}
.afficher-plus {
  margin: 1.9rem 0 0;
  padding: 0;
}
.afficher-plus button {
  border-style: none;
  border-bottom: rgba(255, 255, 255, 0) solid 2px;
  padding: 0;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 700;
  background-color: transparent;
}
.afficher-plus button:hover {
  color: var(--main-color);
  border-bottom: #0065fc solid 2px;
  cursor: pointer;
}

/****** Populaires ***********/

.populaires {
  width: 32%;
}

.populaires-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.populaires-cards .card {
  display: flex;
  margin-top: 33px;
  height: 8.5rem;
  box-sizing: border-box;
}

.populaires-cards .card {
  transition-duration: 0.1s;
}
.populaires-cards .card:hover {
  transform: scale(1.02);
}

.populaires-cards img {
  width: 33%;
  height: 100%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
  width: 67%;
  padding: 10px 5px 5px 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.populaires-cards .card-title {
  margin-bottom: 5px;
}

.populaires-cards .card-subtitle {
  margin: 0;
}

.populaires-cards .card-rating {
}

/****** Activites ***********/

.activites-container {
  display: flex;
  flex-direction: column;
  padding: 1.9rem;
  margin-bottom: 1.9rem;
}
.activites-title {
  margin-bottom: 2rem;
}
.activites-row {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
}
.activites-row a {
  width: 100%;
  transition-duration: 0.1s;
  display: flex;
}
.activites-row a:hover {
  transform: scale(1.02);
}
.activites-card {
  padding: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
}

.activites-card img {
  width: 100%;
  height: 380px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  overflow: hidden;
  /* aspect-ratio: 2.1/2.8; */
}

.activites-txt {
  width: 100%;
  padding: 0 1rem;
  box-sizing: border-box;
  display: flex;
  flex: 1;
  /* justify-content: center; */
  align-items: center;
}

/****** Footer ***********/

.footer-container {
  display: flex;
  flex-direction: column;
  padding: 1.2rem;
  background-color: var(--main-bg-color);
  justify-content: flex-end;
}
.footer-section {
  width: calc(33% - 15px);
}
.footer-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer-row h3 {
  margin: 0;
}
.footer-container ul li a {
  display: flex;
  justify-content: space-between;
  padding-top: 0.8rem;
}
.footer-container a:hover {
  color: var(--main-color);
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
  .filters-container {
    flex-direction: column;
    align-items: flex-start;
  }
  .filters-button {
    margin-left: 0;
    margin-right: 0.7rem;
    padding: 0.8rem 1rem;
  }

  .hebergements-and-populaires {
    flex-direction: column;
  }

  .hebergements {
    width: 100%;
  }

  .populaires {
    width: 100%;
    height: 100%;
    margin-top: 50px;
  }

  .populaires-cards {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
  .populaires-cards .card {
    height: auto;
  }
  .populaires-cards .card-content {
    height: 100%;
    box-sizing: border-box;
    padding: 10px 0px 0px 15px;
  }
  .populaires-cards a {
    width: calc(33% - 15px);
    display: flex;
  }

  .card-subtitle {
    font-size: 14px;
  }

  .activites-card img {
    height: 200px;
  }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
  /****** Main ***********/

  * {
    font-size: 14px;
  }

  .main-container {
    padding: 0;
  }

  /****** Header ***********/

  .header-container {
    display: flex;
    flex-direction: column;
  }
  .header-logo {
    display: flex;
    justify-content: center;
  }
  .header-logo img {
    max-width: 30%;
  }
  .header-menu {
    width: 100%;
  }
  .header-menu a {
    display: flex;
    width: 50%;
    justify-content: center;
    margin: 0;
    border-top: none;
    border-bottom: #d9d9d9 solid 2px;
    padding-bottom: 15px;
  }
  .header-menu a:hover {
    color: var(--main-color);
    border-bottom: #0065fc solid 2px;
    border-top: none;
  }
  /****** Search ***********/

  .search-container {
    padding: 0 1rem;
  }
  .search-form {
    width: 100%;
  }
  .search-city button {
    border-radius: 20px;
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.4));
    margin-left: -1rem;
  }
  .search-city button::before {
    content: "\f002";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 20px;
    color: white;
  }
  button[type="submit"] span {
    display: none;
  }
  input[type="text"] {
    flex: 1;
  }

  /****** Filters ***********/

  .filters-container {
    flex-direction: column;
  }

  .filters-selection {
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    flex-grow: 1;
    row-gap: 1.5rem;
  }
  .filters-button {
    width: calc(50% - 5px);
    height: 50px;
    text-align: left;
    margin: 0;
    box-sizing: border-box;
  }
  /****** hébergements ***********/

  .hebergements-and-populaires section {
    border-radius: 0;
    background-color: white;
  }
  .hebergements-and-populaires section.populaires {
    order: -1;
    margin: 0;
    background-color: var(--main-bg-color);
  }

  /****** Populaires ***********/
  .populaires .populaires-cards {
    flex-direction: column;
    display: flex;
    width: 100%;
    box-sizing: border-box;
    margin-top: 1.5rem;
    gap: 1.5rem;
    justify-content: center;
  }
  .populaires-cards a {
    width: 100%;
    display: block;
  }
  .populaires-cards .card-content {
    width: 100%;
  }
  .populaires-cards .card {
    height: 146px;
    margin-top: 0;
  }
  .populaires-cards img {
    min-width: 33%;
  }
  /****** Hébergement ***********/

  .hebergements .hebergements-row {
    flex-direction: column;
    display: flex;
    width: 100%;
    box-sizing: border-box;
    margin-top: 1.5rem;
    gap: 1.5rem;
    justify-content: center;
  }

  .hebergements-row a {
    width: 100%;
  }
  .hebergements-row .card {
    margin-top: 0;
  }
  #hebergements {
    padding-bottom: 0;
  }

  /****** Actrivités ***********/

  .activites-row {
    flex-direction: column;
  }
  .activites-card.card {
    width: 100%;
    height: 100%;
  }
  .activites-card img {
    height: 141px;
  }
  .activites-txt {
    padding: 0.8rem 1rem;
  }
  /****** Footer ***********/

  .footer-row {
    flex-direction: column;
  }
  .footer-section {
    margin: 1.5rem 0;
    width: 100%;
  }
}
/* @media (max-width: 380px) {
  .filters-button span {
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .filters-button i {
    display: flex;
    justify-content: center;
    margin-right: 0;
  }
} */
